        body{
            background-color: black;
        }
        
        
        #container{
            margin: auto;
            margin-top: 40px;
            height: 11cm;
            width: 11cm;
            background-color: grey;
            padding: 1%;
            border:1px solid white;
            border-radius: 2%;
        }

        #screen{
            height: 70px;
            background-color: aquamarine;
            margin:5px;
            padding: 5px;
        }

        #screen div{
            text-align: right;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        /*FLEX IS HERE*/
        .btns{
            display: flex;
            margin: 5px;
            height: 59px;
        }

        .btns button{
            flex: 1;
            border-radius: 2px;
            border: none;
            margin: 2px;
        }

        button{
            transition: 0.15s;
        }

        button:hover{
            opacity: 0.9;
        }

        button:active{
            opacity: 0.7;
        }

        #clear{
            background-color: lightcoral;
        }

        #equals{
            background-color: orange;
        }
        
        h1{
            color: red;
            text-align: center;
        }
